:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  padding: 24px;
  border: 1px solid var(--mat-sys-outline-variant);
  background: var(--mat-sys-surface-container);
  border-radius: 8px;
}
