.dialog_overlay {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 10px;
  width: 250px;
  padding: 20px;
  background-color: var(--mat-sys-surface-container-high);
  color: var(--mat-sys-on-surface);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 8px;
}

.button-container {
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  margin-top: 1rem;
}
